<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.0.1" />
  <package id="elmah.corelibrary" version="1.2" />
  <package id="HttpClient" version="0.5.0" />
  <package id="JsonValue" version="0.5.0" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="WebApi" version="0.5.0" />
  <package id="WebApi.All" version="0.5.0" />
  <package id="WebApi.Enhancements" version="0.5.0" />
  <package id="WebApi.OData" version="0.5.0" />
</packages>